# Sparkling Water and Moving Data Around

Sparkling Water is an application to integrate H2O with Spark. Below is an example showing how to move the data around among Pandas DataFrame, H2OFrame, and Spark Dataframe.

### 1. Define Context

In [ ]:
from pandas import read_csv, DataFrame

In [ ]:
from pyspark import sql

In [ ]:
from pysparkling import H2OContext

In [ ]:
from h2o import import_file, H2OFrame

In [ ]:
ss = sql.SparkSession.builder.getOrCreate()

In [ ]:
hc = H2OContext.getOrCreate(ss)

### 2. Convert Pandas Dataframe to H2OFrame and Spark DataFrame

### 3. Convert Spark Dataframe to H2OFrame and Pandas DataFrame

### 4. Convert H2OFrame to Pandas Dataframe and Spark DataFrame